<html>
	<head>
		<title>CFR Calatori</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	</head>
	<body>
			<div class="top-header" id="header">
				<div class="wrap">
				<div class="top-header-left">
					<ul>
						<li><a href="#"><span> </span> Autentificare</a></li>
						<li><p><span> </span>Nu esti membru? </p>&nbsp;<a class="reg" href="#"> Inregistreaza-te</a></li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="top-header-right">
					<ul>
						<li><a class="face" href="#"><span> </span></a></li>
						<li><a class="twit" href="#"><span> </span></a></li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			</div>
			<div class="header">
				<div class="wrap">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" title="voyage" /></a>
				</div>
				<div class="top-nav">
						<ul class="flexy-menu thick orange">
							<li class="active"><a href="index.html">Prima pagina</a></li>
							<li><a href="">Servicii</a></li>
							<li><a href="">Despre noi</a></li>
							<li><a href="">Noutati</a></li>
							<li><a href="">Contact</a></li>
						</ul>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<div class="images-slider">
		    <div id="fwslider">
		        <div class="slider_container">
		            <div class="slide">
                    <img src="images/slider-bg.jpg" alt=""/>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="find-place">
			<div class="wrap">
				<div class="p-h">
					<span>Cauta</span>
					<label>Trenuri</label>
				</div>
				<div class="p-ww">
				  <form (ngSubmit)="findShortestPath(routeForm.value.departure, routeForm.value.arrival)" #routeForm="ngForm">
				    <label>Plecare</label>
				    <select ngModel name="departure">
				      <option *ngFor="let station of stations" [value]="station.id">{{station.name}}</option>
				    </select>

				    <label>Destinatie</label>
				    <select ngModel name="arrival">
				      <option *ngFor="let station of stations" [value]="station.id">{{station.name}}</option>
				    </select>

						<input class="date" id="datepicker" type="text" value="Select date">
				    <button>Trimite</button>
				  </form>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<div class="clients">
			<div class="wrap">
        <div id="mappy" style="height: 650px; width: 1000px; background-color: #1BB194;"></div>
        <div>
          <ul>
            <li *ngFor="let routePart of route">{{routePart}}</li>
          </ul>
        </div>
			</div>
		</div>
		<div class="subfooter">
			<div class="wrap">
				<ul>
					<li class="active"><a href="index.html">Prima pagina</a></li>
					<li><a href="">Servicii</a></li>
					<li><a href="">Despre noi</a></li>
					<li><a href="">Noutati</a></li>
					<li><a href="">Contact</a></li>
					<div class="clear"> </div>
				</ul>
			</div>
		</div>
	</body>
</html>
